<div class="form-bg" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>Add new movie</mat-card-title>
    <mat-card-content>
      <form novalidate [formGroup]="addMovieForm" (ngSubmit)="onSubmit(addMovieForm)">
        <div fxLayout="column">
          <div *ngIf="errorMessage!=null" class="alert">
            {{ errorMessage }}
          </div>
          <mat-form-field>
            <input matInput placeholder="Enter movie title" formControlName="title" autofocus>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Enter movie description"
                      formControlName="description"></textarea>
          </mat-form-field>
          <button mat-button type="submit" color="primary" [disabled]="addMovieForm.invalid">Add
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
