<mat-card>
  <mat-card-header>
    <mat-card-title>{{movie.title}}</mat-card-title>
    <mat-card-subtitle>
      {{"Posted by "}}
      <a [routerLink]="" (click)="fetchMovies(movie.createdBy)">
        {{isLoggedIn() && movie.createdBy === getUsername()? "You" : movie.createdBy}}</a>
      {{movie.createdOn.toString() | timeAgo}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="description">{{movie.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <div class="content">
      <ng-container *ngIf="isLoggedIn()">

        <ng-container *ngIf="isPublisher(movie.createdBy)">
          <ng-container *ngIf="hasVotes(movie)">
            <p>{{movie.likesCount}} Likes | {{movie.hatesCount}} Hates</p>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="!isPublisher(movie.createdBy)">

          <ng-container *ngIf="hasVotes(movie)">

            <ng-container *ngIf="userHasVoted(movie)">

              <ng-container *ngIf="userHasReactedWith(movie, constants.REACTION.LIKE)">
                <p fxFlex="50">{{movie.likesCount}} Likes |
                  <a [routerLink]="" queryParamsHandling="merge" (click)="addReaction(movie.id, constants.REACTION.HATE)">{{movie.hatesCount}}
                    Hates</a>
                </p>

                <p class="right" fxFlex="50">You like the movie |
                  <a [routerLink]="" queryParamsHandling="merge" (click)="removeReaction(movie.id)">Unlike</a>
                </p>
              </ng-container>

              <ng-container *ngIf="userHasReactedWith(movie, constants.REACTION.HATE)">
                <p fxFlex="50"><a [routerLink]="" queryParamsHandling="merge" (click)="addReaction(movie.id, constants.REACTION.LIKE)">{{movie.likesCount}} Likes</a> |
                  {{movie.hatesCount}} Hates
                </p>
                <p class="right" fxFlex="50">You hate the movie |
                  <a [routerLink]="" queryParamsHandling="merge" (click)="removeReaction(movie.id)">Unhate</a>
                </p>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="!userHasVoted(movie)">
              <p>
                <a [routerLink]="" queryParamsHandling="merge" (click)="addReaction(movie.id, constants.REACTION.LIKE)">{{movie.likesCount}} Likes</a> |
                <a [routerLink]="" queryParamsHandling="merge" (click)="addReaction(movie.id, constants.REACTION.HATE)">{{movie.hatesCount}} Hates</a>
              </p>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="!hasVotes(movie)">
            <p>
              Be the first to vote for this movie:
              <a [routerLink]="" queryParamsHandling="merge" (click)="addReaction(movie.id, constants.REACTION.LIKE)">Like</a> |
              <a [routerLink]="" queryParamsHandling="merge" (click)="addReaction(movie.id, constants.REACTION.HATE)">Hate</a>
            </p>
          </ng-container>
        </ng-container>

      </ng-container>

      <ng-container *ngIf="!isLoggedIn()">
        <ng-container *ngIf="hasVotes(movie)">
          <p>{{movie.likesCount + " likes | " + movie.hatesCount + " hates"}}</p>
        </ng-container>
      </ng-container>

    </div>
  </mat-card-actions>
</mat-card>
