<div class="form-bg" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>Log in</mat-card-title>
    <mat-card-content>
      <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
        <div fxLayout="column">
          <div *ngIf="errorMessage!=null" class="alert">
            {{ errorMessage }}
          </div>
          <mat-form-field>
            <input matInput placeholder="Enter your username" formControlName="username" autofocus>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Enter your password" formControlName="password">
          </mat-form-field>
          <button mat-button type="submit" color="primary" [disabled]="loginForm.invalid">Login
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
