<div class="form-bg" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>Sign up</mat-card-title>
    <mat-card-content>
      <form novalidate [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">
        <div fxLayout="column">
          <div *ngIf="errorMessage!=null" class="alert">
            {{ errorMessage }}
          </div>

          <mat-form-field>
            <input matInput placeholder="Enter your username" formControlName="username" autofocus>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" placeholder="Enter your password" formControlName="password">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" placeholder="Repeat your password"
                   formControlName="repassword">
          </mat-form-field>

          <button mat-button type="submit" color="primary" [disabled]="signUpForm.invalid">Sign-up
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
