<ng-progress></ng-progress>

<app-header></app-header>

<div fxLayout="column" fxFlexFill>
  <div fxFlex="grow" fxLayout="row" class="main" fxLayoutGap="1rem">
    <div fxFlex="grow" class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
