<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span (click) ="goToHome()" style="cursor: pointer;">MovieRama</span>

    <span class="example-spacer"></span>

    <div
      fxFlex
      fxGrow="0" *ngIf="isLoggedIn()">
      <div style="font-size: small;">{{ "Welcome back "}}
        <a [routerLink]="" (click)="showUserMovies()">{{getUsername()}}</a>
      </div>
    </div>

    <div
      fxFlex
      fxGrow="0">
      <mat-menu #appMenu="matMenu">
        <button *ngIf="isLoggedIn()" mat-menu-item (click)="signOut()">Sign out</button>
        <button *ngIf="!isLoggedIn()" mat-menu-item [routerLink]="['/login']">Log in</button>
        <button *ngIf="!isLoggedIn()" mat-menu-item [routerLink]="['/registration']">Sign up
        </button>
      </mat-menu>
      <button
        mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>person</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
