@import "../../styles-variables.scss";

.mat-card-actions {
  margin: 0 -4px;
}

.add-movie {
  padding: 10px 16px 16px 0;
  text-align: right;
}

.content {
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
}

