<div fxFlex="10"></div>

<div fxFlex="80">
  <h1>Movies</h1>

  <div *ngIf="movies.length === 0">
    No movies found. Try adding some first.
  </div>

  <div *ngIf="movies.length > 0">
    <p>Sort by:
      <a [routerLink]="" queryParamsHandling="merge"
         (click)="sortByLikesDesc()">Likes</a> |
      <a [routerLink]="" queryParamsHandling="merge"
         (click)="sortByHatesDesc()">Hates</a> |
      <a [routerLink]="" queryParamsHandling="merge"
         (click)="sortByDateDesc()">Date</a>
    </p>
  </div>

  <div>
    <div class="content" fxLayout="column" fxLayoutAlign="space-evenly stretch"
         fxLayoutGap="16px grid" fxFlex="80">
      <div *ngFor="let movie of movies">
        <app-movie [movie]="movie"></app-movie>
      </div>

    </div>
    <div fxFlex="5"></div>
    <div fxFlex="15" class="add-movie">
      <button mat-raised-button *ngIf="isLoggedIn()" (click)="addMovie()" color="primary">
        New Movie
      </button>
    </div>

  </div>

</div>

<div fxFlex="10"></div>
