/* ==================================================
Variables
================================================== */
$e-body: #f5f5f5;
$e-table-row-highlight: #f7f7f7;

$e-color-black: rgba(0, 0, 0, 0.87) ;
$e-color-blue: #46a5db;
$e-color-blue-light: #50A7D7;
$e-color-grey-light: #eeeeee;
$e-color-grey: #aaaaaa;
$e-color-toggle: RGBA(84, 168, 213, 0.30);
