/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.bg-green {
  background-color: #03970b;
  color: #ffffff;
}

.bg-red {
  background-color: #970007;
  color: #ffffff;
}

.bg-blue {
  background-color: #008597;
  color: #ffffff;
}
